* {
  font-family: 'Cairo', sans-serif;

}

.navbar-brand {
    font-size: 20px;
    margin-left: 80px;
}

.d-flex {
    gap: 20px;
}

.About {
  position:relative;
   opacity: 0.3;
   height: 5%;
   width: 55%;
}
.disply {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
}

.Navbar , h4 {  
    color: #6d23b6 !important;
    text-align: center !important;
    font-size: 22px; 
}

h1 , h3 {
    color: #6d23b6 !important;
    text-align: center !important;
}

a {
    color: #6d23b6 !important; 
    font-size: 18px; 
}

.me-auto {
    margin-right: auto!important;
    margin-left: 80px;
}

.country {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    margin-left: 120px;   
}

.Footer {
    font-size: 18px;
    font-weight: bold;
    color: #6d23b6 !important;
    text-align: center !important;
    margin: 10px;
}

.City{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 110px;
    gap: 30px;
}

.me-1{
    text-align: center;
}

.d-flex{
    margin-right: 100px;
}

form {
  text-align: center;
}
  
.btn {
    background-color: #6d23b6;
    color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
 }
   
  
   
  