* {
    font-family: 'Source Code Pro', monospace;
}

.navbar-brand {
    font-size: 20px;
    margin-left: 80px;
}

.d-flex {
    gap: 20px;
}

.About {
  position:relative;
   opacity: 0.6;
}

.disply {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
}

.Navbar , h4 {  
    font-size: 22px; 
}

h1 , h3 {
    color: black !important;
    font-weight: bold;
}

a {
    color: black !important;
    font-size: 18px; 
}

.me-auto {
    margin-right: auto!important;
    margin-left: 80px;
}

.country {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.Footer {
    font-size: 18px;
    font-weight: bold;
    text-align: center !important;
    margin: 10px;
}

.City, .Place{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-left: 120px;
    text-align: center !important;
}

h4 {
    margin-right: 110px;
}

.me-1{
    text-align: center;
}

.d-flex{
    margin-right: 100px;
}

form {
  text-align: center;
  
}
  
.btn {
    background-color: black;
    color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-left: 5px;
 }
   
 .shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
    color: white;
}

.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
} 

.Login {
    margin-left: 100px;
}

.SignUp {
   margin-left: 170px;   
}

.comment{
display: flex;
flex-direction: row;
align-items: center;
}

.form-control {
    position: relative;
}

.send{
    position: absolute;
    left: 93%;
}

.form-label{
    font-weight: bold;
}

.immg1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.immg:hover{
    opacity: 0.8;
}
.card:hover{
    opacity: 0.8;
    transform: translateY(-20px);
}

.serchImg{
    position: relative;
    text-align: center;    
}

.bottom-left{
    position: absolute;
   left: 40px;
   top: 2000;
   color: white;
   font-weight: bold;
}

.beach{
    text-align: left !important;
    margin-left: 20px;   
}

.serchImg1{
    position: relative;
    text-align: center;   
}

.bottom-left1{
    position: absolute;
   left: 990px;
   top: 2500;
   color: white;
   font-weight: bold;
}

.serchImg2{
    position: relative;
    text-align: center;   
}

.bottom-left2{
   position: absolute;
   left: 680px;
   top: 2500;
   color: white;
   font-weight: bold;
}

.serchImg3{
    text-align: center;   
}

.imgBottom{
    position: relative;
}

.bottom-left3{
   position: absolute;
   left: 339px;
   bottom: 160;
   color: white;
   font-weight: bold;
}

.style{
    background-color: #F1EAF6;
}

h5{
    text-align: left;
    margin: 15px;
}

.reviewTexet{
    font-weight: bold;
}

.content img{
    width: 380px;
    height: 330px;
    object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  
}


@media screen and (max-width: 767px) {
#root div{
    width: 100%;
}
    img.d-block.w-100{
        width: 100%
    }
  .country, .City, .Place{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 50px;
  }
 .navbar-toggler-icon button{
  color: cadetblue;
 } 
 .navbar-brand {
    display: grid;
    grid-template-columns: 1fr;
}
.serchImg {
    width: 1500px;
  }
.search{
    display: grid;
    grid-template-columns: 1fr;
}
.content{
    /* display: grid;
    grid-template-columns: 1fr; */
 
   justify-self: center ;
}

.Login {
    margin-left:0px;
}

.SignUp {
   margin-left: 0px;   
}
h3{
    text-align: center;
   font-size: 20vw;
}
h4{
    font-size: 15vw;
}

div#carouselExampleSlidesOnly{
    width:100%
}

.content img{
    margin:0px;
    width: 980px;
    height: 930px;
    object-fit: cover;
}
}
