* {
    font-family: 'Source Code Pro', monospace;
}

.navbar-brand {
    font-size: 20px;
    margin-left: 80px;
}

.d-flex {
    gap: 20px;
}

.About {
  position:relative;
   opacity: 0.6;
}

.disply {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
}

.Navbar , h4 {  
    font-size: 22px; 
}

h1 , h3 {
    color: black !important;
    font-weight: bold;
}

a {
    color: black !important;
    font-size: 18px; 
}

.me-auto {
    margin-right: auto!important;
    margin-left: 80px;
}

.country {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    margin-left: 120px;   
}

.Footer {
    font-size: 18px;
    font-weight: bold;
    text-align: center !important;
    margin: 10px;
}

.City, .Place{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 110px;   
}

.me-1{
    text-align: center;
}

.d-flex{
    margin-right: 100px;
}

form {
  text-align: center;
}
  
.btn {
    background-color: black;
    color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-left: 5px;
 }
   
 .shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}

.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
} 

.Login {
    margin-left: 100px;
}

.SignUp {
   margin-left: 170px;   
}

.comment{
display: flex;
flex-direction: row;
align-items: center;
}

.form-control {
    position: relative;
}

.send{
    position: absolute;
    left: 93%;
}

.form-label{
    font-weight: bold;
}

.modal-content{
    height: 150px;
    width: 300px;
    background-color:rgb(243, 242, 242);
}

.immg1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.immg:hover{
    opacity: 0.8;
}

.serchImg{
    position: relative;
    text-align: center; 
}

.bottom-left{
    position: absolute;
   left: 40px;
   top: 2000;
   color: white;
   font-weight: bold;
}

.beach{
    text-align: left !important;
    margin-left: 20px;   
}

.serchImg1{
    position: relative;
    text-align: center;   
}

.bottom-left1{
    position: absolute;
   left: 990px;
   top: 2500;
   color: white;
   font-weight: bold;
}
.serchImg2{
    position: relative;
    text-align: center;   
}

.bottom-left2{
   position: absolute;
   left: 680px;
   top: 2500;
   color: white;
   font-weight: bold;
}

.serchImg3{
    text-align: center;   
}
.imgBottom{
    position: relative;

}
.bottom-left3{
   position: absolute;
   left: 339px;
   /* top: 2200; */
   bottom: 160;
   color: white;
   font-weight: bold;
}

/* .Add{
    text-align: center;
    margin-left: 100px;
}   */
